<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        a(href="/topic")
            h1 Server Side JavaScript
        ul
            each topic in topics
                li
                    a(href=`/topic/${topic}`)= topic
        article
            h2= title
            p= description
            a(href="/topic/new") new            